@media screen and (min-width: 200px) {
  body {
    font-size: 1em;
    line-height: 1.2em;
    font-family: Arial;
  }
}

body {
  background: #424242;
  color: #ffff00;
  font-family: 'Architects Daughter', cursive;
  font-size: 16px;
}

/* {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
  margin-bottom: 0;
}

h4 {

  margin-top: 0;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;   
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.zocial-facebook {
  color:#3B5998;
}

.zocial-twitter {
  color:#00acee;
}

.zocial-googleplus {
  color:#dd4b39;
}

.zocial-linkedin {
  color:#007bb6;
}

.proj-img {
  width: 100%;
}

.firstofkind {
  margin-right: 10%;
}

.lastofkind {
  margin-left: 10%;
}

.social {
  margin: 0.5em;
  line-height: 2em;
  text-align: center;
}

footer {
  vertical-align: bottom;
}